/* Develop your skills by getting a full access to our online courses */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-Regular.ttf') format('truetype');
    /* Add other font weights and styles here if needed */
  }

.textHeader {
/* position: absolute; */
width: 600px;
height: 265px;
left: 333px;
top: 304px;
    font-family: 'Inter', sans-serif; /* Updated font-family */
font-style: normal;
font-weight: 750;
float: left;
font-size: 41px;
margin-top:5%;
margin-left: 15%;
line-height: 179.02%;
display: inline;
/* or 91px */
text-transform: capitalize;
color: #040404;
@media screen and (max-width: 425px) {
    font-family: 'Inter', sans-serif; /* Updated font-family */
    height: 150px;
    font-style: normal;
    font-weight: 750;
    float: left;
    font-size: 23px;
    /* margin-top: 5%; */
    margin-left: 15%;
    line-height: 179.02%;
    display: inline;
    text-transform: capitalize;
    color: #040404;
  }
}

.quiz-title{
    margin-bottom: 5%; color: #3397cb ;
}    

.textHeaderlanding {
    /* position: absolute; */
    width: 900px;
    height: 265px;
    left: 333px;
    top: 304px;
    font-family: 'Inter', sans-serif; /* Updated font-family */
    font-style: normal;
    font-weight: 600;
    position: absolute !important;
    z-index: 999;
    float: left;
    font-size: 38px;
    align-items: center;
    margin-top:3%;
    display: inline;
    /* or 91px */
    text-transform: capitalize;
    color: #fff;
    @media screen and (max-width: 425px) {
        font-family: 'Inter', sans-serif; /* Updated font-family */
        height: 150px;
        font-style: normal;
        font-weight: 750;
        float: left;
        font-size: 23px;
        /* margin-top: 5%; */
        margin-left: 15%;
        line-height: 179.02%;
        display: inline;
        text-transform: capitalize;
        color: #040404;
      }
    }
.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    margin-top: 8%;
    background-color: none;
    margin-bottom: 8%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    @media screen and (max-width: 425px) {
        display: inherit;
        /* grid-template-rows: repeat(3, 1fr); */
        margin-top: 11%;
        background-color: #fff;
        margin-bottom: 8%;
      }
    }

    
    .div1 { grid-area: 2 / 2 / 2 / 2; float: left;margin-top: 8%;
        @media screen and (max-width: 425px) {
            display: inherit;
            float: inherit;
        
          }}
    .div2 { grid-area: 2 / 1 / 2 / 3;
        @media screen and (max-width: 425px) {
            display: inherit;
            margin-bottom: 10%;
          }
       }
    .div3 { grid-area: 2 / 6 / 2 / 2; float: left;margin-top: 10%;
        @media screen and (max-width: 425px) {
            display: inherit;
            float: inherit;
        
          }}
.learningRafiki{
    margin-left: 60%;
    width: 32%;
    /* margin-left: 70%; */
    position: absolute;
    @media screen and (max-width: 425px) {
   margin-left: 0%;
   width: 100%;
   position: inherit;
      }
    /* float: right; */
}

.cardStyle{
    /* Rectangle 24 */

/* Group 96 */
width: '20%';
margin-bottom: '1%';
filter: drop-shadow(5px 6px 11px rgba(0, 0, 0, 0.21));


}
.new-letter{
    
    margin-left: 5%;

}
.chapterBanner {
    width: 220%;
    height: 97px;
    top: 1063px;
    margin-top: 16%;
    margin-left: -6%;
    background: #FFF1F1;
}

.priceTag {
    max-width: 300px;
    margin-top: -15%;
    font-family: 'Inter', sans-serif; /* Updated font-family */
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #040404;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @media screen and (max-width: 425px) {
        margin-top: -11%;
           }
}

.underlineContent{
    /* Line 5 */

position: absolute;
width: 75%;
height: 0px;
// top: 966px;

border: 1px solid rgba(113, 113, 113, 0.6);

}
.contentTable{
    font-family: 'Inter', sans-serif; /* Updated font-family */
font-style: normal;
font-weight: 600;
font-size: 26px;
text-transform: capitalize;
color: #000000;
}

.chapterText{
    margin-left: 3%;
    padding-top: 2%;
}
.chapterName{
    color:#86b4ff ;
}
.chapterDesc{
    /* Name of the part */
    font-family: 'Inter', sans-serif; /* Updated font-family */
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 130.02%;
/* identical to box height, or 25px */
text-transform: capitalize;
color: #040404;
}
.chapterStatus{
    /* Name of the part */
    font-family: 'Inter', sans-serif; /* Updated font-family */
font-style: normal;
margin-left: 18%;
font-weight: 500;
font-size: 18px;
line-height: 130.02%;
/* identical to box height, or 25px */
text-transform: capitalize;
color: #86bc28;
}

.examBanner{
    width: 220%;
    height: 77px;
    top: 1063px;
    box-sizing: border-box;
    margin-top: 16%;
    margin-left: -6%;
border:1px solid #86b4ff
}
.resultMessage{
    margin-top:3%;
    color:#86bc28
}
.textheader1{
    font-family: 'Inter', sans-serif; /* Updated font-family */
/* identical to box height, or 43px */
text-transform: capitalize;
color: #040404;
font-style: normal;
font-weight: 600;
font-size: 33px;
}

.lessonsList{
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-flex;
    width: 39px;
    height: 39px;
    left: 272px;
    padding-top: 1%;
    padding-left: 2.4%;
    // margin-bottom: 3%;
    margin-top: 3%;
    margin-right: 1%;
    top: 1196px;
    border: 1px solid #86b4ff;
    /* second day */
    font-family: 'Inter', sans-serif; /* Updated font-family */
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130.02%;
/* or 23px */
text-transform: capitalize;    
}

.text-lesson-details{
    font-family: 'Inter', sans-serif; /* Updated font-family */
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130.02%;
/* or 23px */
text-transform: capitalize;

}

.routeStyle{
    width: 250%;
    font-family: 'Inter', sans-serif; /* Updated font-family */
    font-size: 22px;
    font-weight: 600;
}

.routeStylePosition{
    margin-left: 100%;
    margin-top: -25%;
}

// footer style
.parent1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: -3%;
    background: #fff;
    // background: #FFDBDB3D;
    }
    
    .div10 { grid-area: 3 / 1 / 2 / 2;
    margin-left: 25%;margin-top: 5%; }
    .div11 { grid-area: 3 / 2 / 2 / 3;margin-left: -11%; }
    .div12 { grid-area: 2 / 3 / 2 / 4; }
    .div13 {  grid-area: 3 / 3 / 3 / 4;
        display: flex;
        align-items: center;
        margin-top: -30%;
        margin-left: 20%;

            }    
        .div13 > link > img {
            height: 22px; /* set the same height for all images */
            margin-right: 1rem; /* add some margin to create space between images */
            margin-left: 5%;
          }

    .footer-style{
      background: #fff;
        margin-top: 10%;
        margin-left: -1.1%;
        margin-right: -1.1%;
    }