$spinner-size: 60px;
$spinner-size-big: 120px;
$spinner-size-small: 20px;

.loading-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.spinner-loading {
  animation: rotation 1s infinite linear;
  border-top: 3px solid 3px solid #86B4FF;
  border-left: 3px solid #86bc28;
  border-bottom: 3px solid #86bc28;
  border-right: 3px solid #86bc28;
  border-radius: 100%;
  margin: auto;
  z-index: 3;
}

.spinner-type-default {
  height: $spinner-size;
  width: $spinner-size;
  border-top: 3px solid #86B4FF;
  border-left: 3px solid #86B4FF;
  border-bottom: 3px solid #86B4FF;
  border-right: 3px solid #86B4FF;
}

.spinner-type-big {
  height: $spinner-size-big;
  width: $spinner-size-big;
  border-top: 5px solid #86B4FF;
  border-left: 5px solid grey;
  border-bottom: 5px solid grey;
  border-right: 5px solid grey;
}


.margin-top-spinner{
margin-top: 10%;
}

.spinner-type-default-small {
  height: $spinner-size-small;
  width: $spinner-size-small;
  border-top: 3px solid #86B4FF;
  border-left: 3px solid  grey;
  border-bottom: 3px solid  grey;
  border-right: 3px solid  grey;
}

.spinner-type-button {
  height: $spinner-size-small;
  width: $spinner-size-small;
  border-top: 1px solid white;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}

.spinner-type-badge {
  height: 15px;
  width: 15px;
  border-top: 1px solid white;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
